* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
  height: 80px;
}

.trybewarts-header-logo {
  width: 60px;
  margin: 0 20px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.btn-style {
  background-color: rgb(140, 102, 173);
  color: white;
  font-weight: 600;
}

main {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 80%;
}

#evaluation-form {
  display: flex;
  min-width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.form-infos {
  display: flex;
}

.family-learn {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 4px;
}

.test {
  display: none;
  width: 675px;
}

#comment {
  width: 40%;
}

#counter {
  width: 30px;
  color: rgb(57, 57, 57);
  background-color: rgba(255, 255, 255, 0.734);
  position: relative;
  top: -27px;
  left: 218px;
}

@media screen and ( max-width : 600px ) {

  body {
    font-family: sans-serif, monospace;
  }

  .header {
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
  }

  .trybewarts-header-logo {
    width: 60px;
  }

  #trybewarts-header-title {
    display: none;
  }

  .trybewarts-login {
    justify-content: right;
  }

  .input-style {
    padding: 20px 10px;
    border-radius: 5px;
    border: 1px solid rgb(190, 190, 190);
    margin: 10px 5px;
  }

  .header .input-style {
    width: 25%;
  }

  .input-style::placeholder {
    font-size: 20px;
  }

  .btn-style {
    padding: 16px 10px;
    border-radius: 5px;
    border: 1px solid rgb(141, 125, 155);
    margin: 0 5px;
    font-size: 20px;
  }

  main {
    flex-direction: column;
    margin: 140px auto;
    width: 90%;
  }

  #evaluation-form {
    min-width: 175px;
  }

  .form-infos {
    flex-direction: column;
  }

  .form-infos label {
    color: rgb(81, 81, 81);
    font-size: 20px;
    margin: 0 16px;
  }

  .hr-style {
    width: 90%;
    margin: 20px auto;
  }

  .family , .family p {
    font-size: 18px;
    margin-top: 10px;
  }

  .family input {
    margin: 5px 5px 5px 0;
  }

  aside {
    display: none;
  }

}
