* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif, monospace;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
  height: 80px;
}

.trybewarts-header-logo {
  width: 50px;
  margin: 0 20px;
}

#trybewarts-header-title {
  color: white;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.input-style {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(190, 190, 190);
  margin: 10px 5px;
}

.btn-style {
  background-color: rgb(140, 102, 173);
  color: white;
  font-weight: 600;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid rgb(141, 125, 155);
  opacity: 0.9;
  margin: 0 5px;
  font-size: 18px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 80%;
  color: rgb(47, 47, 47);
}

#evaluation-form {
  display: flex;
  min-width: 675px;
  flex-direction: column;
}

.form-infos {
  display: flex;
}

.hr-style {
  width: 90%;
  margin: 20px auto;
}

.family-learn , .family-learn section {
  display: flex;
  flex-direction: column;
}

.family section {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  border: 1px solid rgba(128, 128, 128, 0.52);
  border-radius: 5px;
  margin: 10px 0;
}

.family p , #rate-sec label {
  font-size: 22px;
  font-weight: 600;
  margin: 10px;
}

#rate-sec section {
  display: flex;
  align-items: center;
}

#contents label {
  flex-basis: 30%;
  margin: 5px;
}

.test {
  display: none;
  width: 675px;
}

#comment {
  display: flex;
  flex-direction: column;
}

#comment textarea {
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.52);
  resize: none;
  padding: 5px;
}

#comment label {
  font-size: 22px;
}

#counter {
  width: 30px;
  color: rgb(57, 57, 57);
  background-color: rgba(255, 255, 255, 0.734);
  position: relative;
}

button:disabled {
  opacity: 0.6;
}

main .btn-style {
  margin: 0;
}

#trybewarts-forms-logo {
  height: 500px;
}

#form-data p {
  font-size: 20px;
  margin: 10px;
}

footer {
  width: 100%;
  text-align: center;
  font-weight: 600;
  color: white;
  background-color: grey;
  padding: 10px;
}

@media screen and ( min-width : 600px ) {

  .form-infos {
    align-items: center;
  }

  .form-infos input , .form-infos select {
    width: 100%;
  }

  #check-sec {
    display: flex;
    justify-content: space-between;
  }

  .family section {
    padding: 19px;
    margin: 10px 5px;
  }

  #choose-family {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }

  #choose-family label {
    margin: 5px 0;
  }

  #contents {
    flex-direction: row;
  }

  textarea {
    height: 100px;
  }

  #counter {
    top: -27px;
    left: 95%;
  }

  #label-infos {
    font-size: 20px;
    margin-bottom: 20px;
  }

  footer {
    position: fixed;
    bottom: 0;
  }

}

@media screen and ( max-width : 600px ) {

  .header {
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
  }

  .trybewarts-header-logo {
    width: 60px;
  }

  #trybewarts-header-title {
    display: none;
  }

  .trybewarts-login {
    justify-content: right;
  }

  .input-style {
    padding: 20px 10px;
  }

  .header .input-style {
    width: 25%;
  }

  .input-style::placeholder {
    font-size: 20px;
  }

  .btn-style {
    padding: 16px 10px;
    font-size: 20px;
  }

  main {
    flex-direction: column;
    margin: 140px auto;
    width: 90%;
  }

  #evaluation-form {
    min-width: 175px;
  }

  .form-infos {
    flex-direction: column;
  }

  .form-infos label {
    color: rgb(81, 81, 81);
    font-size: 20px;
    margin: 0 16px;
  }

  .hr-style {
    width: 90%;
    margin: 20px auto;
  }

  .family {
    font-size: 18px;
    margin-top: 10px;
  }

  .family p , #rate-sec label {
    text-align: center;
  }

  #contents {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #rate-sec {
    margin: 10px 0;
  }

  #counter {
    top: -27px;
    left: 90%;
  }

  main .btn-style:active {
    opacity: 1;
  }

  aside {
    display: none;
  }

  footer {
    position: static;
  }

}
